* {
  box-sizing: border-box;
  color: rgb(237, 241, 245);
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #4682b4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: #2a4e6b;
  padding: 20px 40px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: lightblue;
}

button:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 20px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: #4682b4;
}

p {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
  color: white;
}

.form-control input {
  border: 0;
  background-color: transparent;
  border-bottom: solid 2px white;
  width: 100%;
  padding: 15px 0;
  cursor: text;
  caret-color: white;
  display: block;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
